h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
  margin: 0;
  padding:0;
}

body {
  margin: 0;
  background-color: #1e1e1e;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: grey;
}

a {
  text-decoration: underline;
  color: white;
}

.content-section {
  width: 360px;
  margin: auto;
  box-sizing: border-box;
  
}

.content-section__subtitle {
  font-family: 'EB Garamond', sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 115%;
}

.white-text {
  color: white;
}

.content-section__introduction {
  margin-top: 32px;
  font-size: 20px;
  margin-bottom: 32px;
  line-height: 27px;
 
}

.content-section__list {
  margin: 0;
  padding-left: 15px;
  
}

.content-section__list-item {
  margin-bottom: 16px;
  line-height: 21.6px;
}

.content-section__list-item:last-child {
  margin-bottom: 0;
}

.content-section__list-accent {
  font-weight: 700;
}

.content-section_theme_dark {
  background-color: #1e1e1e;
}

.content-section_theme_bright {
  background-color: #FEE42A;
}

.header {
  min-height: 132px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  box-sizing: border-box;
  padding: 24px 20px 0;
}

.header__logo-image {
  width: 78.45px;
  height: 15.43px;
}

.header__menu {
  margin: 24px 18.55px;
}

.header__menu-list {
  list-style-type: none;
}

.header__menu-item {
  display: inline-block;
  margin-bottom: 12px;
}

.header__menu-item_active {
  text-decoration: none;
}

.header__menu-link {
  font-size: 16px;
}

.cover {
  min-height: 221px;
  padding-left: 20px;
  padding-right: 24px;
  background-image: url('../images/cover.svg');
  background-repeat: no-repeat;
  background-position: left 20px top 19px;
  background-size: 95% auto;
}

.cover__title {
  color: white;
  font-family: 'EB Garamond', sans;
}

.accent-span {
  line-height:70px;
  display: block;
  height: 72px;
  font-size: 72px;
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}



.intro {
  padding: 26px 20px 38px 20px;
}

.intro__heading {
display: flex;
justify-content: space-between;
}

.intro__title {
  margin-bottom: 24px;
  color: #CCC;
}

.intro__date {
white-space: nowrap;
color: #CCC;

}

.intro__main-text {
  color: #F5F5F5;
  line-height: 21.6px;
  
}

.intro__main-text:nth-of-type(2) {
  margin-top: 26px;
}

.reasons {
  padding: 40px 20px 39px 20px;
}

.how-to {
  padding: 40px 20px 60px 20px;
  
}

.card {
  box-sizing: border-box;
  border-radius: 30px;
  list-style: none;
  padding: 21px;
  margin-bottom: 32px;
}

.card:last-of-type {
  margin-bottom: 0;
}

.card-list {
}

.card_text-only .card__title {
  margin-top: 0;
}

.card_theme-dark {
  background-color: #343434;
}

.card_theme-bright {
  background-color: #FEE42A;
  color: black;
}

.card__author {

}

.card__author-photo {
  width: 100px;
  height: 100px;
}

.card__author-name {
  font-weight: 600;
  line-height: 135%;
}

.card__content {

}

.card__title {
  margin-top: 8px;
  font-family: 'EB Garamond', sans-serif;
  font-size: 22px;
  margin-bottom: 8px;
  line-height: 135%;
  letter-spacing: 0.02em;
}

.card__text {
line-height: 21.6px;
}

.footer {
  color: #F5F5F5;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px #FEE42A solid;
}

.footer__copy {
  
}

.footer__links {
  display: flex;
  flex-direction: row;
  list-style:  none;
  gap: 16px;
  font-size: 14px;
  
}

.footer__links a {
  
  text-decoration: none;
}